# Эксперимент: udev не должен ставить это в автозагрузку вместе со sleep-хуками.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2dc8", ATTR{idProduct}=="310b", \
  TAG+="systemd", ENV{SYSTEMD_WANTS}="8bitdo-xinput-poweroff.service"
